* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

/* Main defaults */
body {
    font-family: monospace;
    background-color: #0d1117;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Top and bottom */
header,
footer {
    display: flex;
    justify-content: center;
    padding: 12px, 0px;
}

/* Container body */
.container {
    background-color: #222831;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Titles and texts */
h1,
h2 {
    color: #F2F2F2;
    padding: 24px 0px;
    font-weight: normal;
}

h1 { font-size: 48px; }
h2 { font-size: 18px; }
a { color: cyan; }

/* Device body */
.main-frame {
    height: 525px;
    width: 425px;
    border: 2px solid lightgray;
    border-radius: 12px;
    background-color: gray;
    display: flex;
    justify-content: center;
}

.calc-body {
    padding: 20px;
}

/* Result display */
.display {
    border: 2px solid black;
    border-radius: 6px;
    background-color: lightgray;
    min-width: 385px;
    height: 25%;
}

/* Buttons main defaults */
button {
    border: 2px solid black;
    border-radius: 6px;
    padding: 14px 20px;
    font-size: 20px;
}

/* Operation buttons */
.op-buttons {
    height: 75%;
    padding: 12px 0px;
}

.clear-btn, .delete-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Number buttons */
.num-buttons {
    display: flex;
    flex-flow: row wrap;
}